.circles {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
  }
  
 
.progress-ring {
    transform: rotate(0deg);
    position: center;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .progress-ring-circle {
    
    top: 200px;
    transition: stroke-dashoffset 0.35s;
  }
  
  .progress-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    fill: #333;
  }