
.myRecord{
    padding: 0px;
}
.labRecord{
    margin: 30px;
}
h1.health {
    font-size: 25px;
    font-weight: 300;
    margin: 30px;
}
.labRecordContainer{
    margin-left: 60px;
    
}
.labRecordContainer table td{
    padding: 10px;
}
.myProgress {
    width: 200px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin-bottom: 10px;
  }
  
  .myBar {
    height: 20px;
    background-color: #4caf50;
    width: 50%;
    border-radius: 40px;
    transition: width 0.5s;
  }


.medication{
    margin: 30px;
    
}
.medicationText{
    font-weight: 300;
}


.divMed{
    display: flex;
    flex-direction: column;
  }
  .checkbox-custom label {
    cursor: pointer;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eee;
    border: 2px solid #ccc;
  }
  .checkbox-custom input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-color: #007bff;
    border-radius: 50%;
  }
  .checkbox-custom input[type="checkbox"]:checked + label::after {
    content: "\2713";
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 16px;
  }  

 .medicine {
  display: flex;
  flex-direction: row;
  margin-right: 20px; /* Adjust as needed */
}

.medText {
  font-weight: bold;
  margin-bottom: 5px;
}

.medTime {
  display: flex;
  align-items: center;
}

.checkbox-custom {
  margin-left: 10px; /* Adjust as needed */
}
.addNew{
  width: 100px;
}
