*{
    margin:0;
    padding:0;
    text-decoration: none;

}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #E8F3FC;
    color: #4b5364;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.username{
    color: #000;
    font-size: 20px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #6C7894;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}

.myRecord{
    padding: 0px;
}
.labRecordText {
    font-size: 25px;
    font-weight: 300;
    margin: 30px;
}
.labRecordContainer{
    margin-left: 20px;
    
}
.bloodSugar{
    margin-left: 60px;
    margin-top: 40px;
    font-weight: 200;
}

.medication{
    margin: 30px;
    
}
.medicationText{
    font-weight: 300;
}


