*{
    margin:0;
    padding:0;
    text-decoration: none;

}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #E8F3FC;
    color: #4b5364;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.username{
    color: #000;
    font-size: 20px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #6C7894;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}




/* Health Record */


.myRecord{
    padding: 0px;
}
.labRecord{
    margin: 30px;
}
h1.health {
    font-size: 25px;
    font-weight: 300;
    margin: 30px;
}
.labRecordContainer{
    margin-left: 20px;
    
}
.bloodSugar{
    margin-left: 60px;
    margin-top: 40px;
    font-weight: 200;
}

.medication{
    margin: 30px;
    
}
.medicationText{
    font-weight: 300;
}



/* ToggleButton.css */

.toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 0;
  }
  
  .toggle-button input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 8px;
  }
  

  /* CircularProgress.css */

.progress-ring {
    transform: rotate(0deg);
    position: center;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .progress-ring-circle {
    
    top: 200px;
    transition: stroke-dashoffset 0.35s;
  }
  
  .progress-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    fill: #333;
  }
  